﻿@page "/institutes/new"
@using Gradeo.Shared.Institutes
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<PageTitle Value="Новый институт" />

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudCard Outlined="true">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Новый институт</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudTextField Label="Название"
                          @bind-Value="model.Name" For="@(() => model.Name)"/>
            <MudTextField Label="Сокращение"
                          @bind-Value="model.ShortName" For="@(() => model.ShortName)"/>
        </MudCardContent>
        <MudCardActions>
            <MudButton
                ButtonType="ButtonType.Submit"
                Variant="Variant.Filled"
                Color="Color.Primary"
                DisableElevation="true"
                Class="ml-auto">
                Добавить
            </MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {
    InstituteCreateDto model = new InstituteCreateDto();

    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            var response = await HttpClient.PostAsJsonAsync("/api/institutes", model);
            if (response.IsSuccessStatusCode)
            {
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
                Snackbar.Add($"Запись успешно добавлена", Severity.Success);
                NavigationManager.NavigateTo("/institutes");
            }
        }
        catch
        {
            Snackbar.Add($"Невозможно сохранить институт", Severity.Error);
        }
    }
}
