﻿@page "/institutes"
@using Gradeo.Shared.Institutes
@inject HttpClient HttpClient

<PageTitle Value="Институты" />
@* <MudTextField T="string" Variant="Variant.Outlined" ValueChanged="@(OnSearch)" Placeholder="Search" Adornment="Adornment.Start" *@
@*               AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"> *@
@* </MudTextField> *@
<MudTable ServerData="@(ServerReload)"
          Hover="true" @ref="table" Outlined="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Институты</MudText>
        <MudToolBarSpacer/>
        <MudButton
            Link="/institutes/new"
            Color="Color.Success">
            Добавить институт
        </MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="name" T="InstituteTableItemDto">Название</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="department_name" T="InstituteTableItemDto">Сокращение</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="profile" T="InstituteTableItemDto">Дата создания</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Name</MudTd>
        <MudTd DataLabel="Sign">@context.ShortName</MudTd>
        <MudTd DataLabel="Name">@context.CreatedAt</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<InstituteTableItemDto> pagedData;
    private MudTable<InstituteTableItemDto> table;

    private int totalItems;
    private string searchString = null;

    /// <summary>
    /// Here we simulate getting the paged, filtered and ordered data from the server
    /// </summary>
    private async Task<TableData<InstituteTableItemDto>> ServerReload(TableState state)
    {
        var data =
            await HttpClient.GetFromJsonAsync<IEnumerable<InstituteTableItemDto>>("/api/institutes");
        data = data.Where(element =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (element.ShortName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            return false;
        }).ToArray();
        totalItems = data.Count();
    // switch (state.SortLabel)
    // {
    //     case "name":
    //         data = data.OrderByDirection(state.SortDirection, o => o.Name);
    //         break;
    //     case "sign_field":
    //         data = data.OrderByDirection(state.SortDirection, o => o.Sign);
    //         break;
    //     case "name_field":
    //         data = data.OrderByDirection(state.SortDirection, o => o.Name);
    //         break;
    //     case "position_field":
    //         data = data.OrderByDirection(state.SortDirection, o => o.Position);
    //         break;
    //     case "mass_field":
    //         data = data.OrderByDirection(state.SortDirection, o => o.Molar);
    //         break;
    // }

        pagedData = data.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<InstituteTableItemDto>() {TotalItems = totalItems, Items = pagedData};
    }

    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }

}
