#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.mud-appbar {
    border-bottom: 1px solid #e0e0e0 !important;
}

.mud-table-cell.mud-theme-success,
.mud-table-cell.mud-theme-error {
    border-right: 1px solid #e0e0e0 !important;
}

body {
    background-color: #f1f2f3 !important;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #7bc96f; /* Green */
    border-radius: 50%;
    width: 72px;
    height: 72px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
