﻿<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <Login />
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="d-flex flex-column align-center ma-6">
                    <img src="/images/404.svg" width="256" height="256" alt="Page not found"/>
                    <MudText Typo="Typo.h5">Эта страница потерялась</MudText>
                    <MudText Typo="Typo.subtitle1">Но вы всегда можете поставить ей Н-ку</MudText>
                    <MudButton Link="/"
                               Variant="Variant.Text"
                               StartIcon="@(Icons.Material.Filled.ArrowBack)"
                               Color="Color.Primary"
                               Class="mx-2">
                        Вернуться на главную
                    </MudButton>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
