@page "/counter"
@attribute [Authorize]

<PageTitle Value="Counter" />
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<MudButton
    Variant="Variant.Filled"
    DisableElevation="true"
    Color="Color.Primary"
    @onclick="IncrementCount">
    Click me!
</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
