@using Gradeo.Client.Authentication
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

<MudThemeProvider Theme="@Themes.LightTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Color="Color.Secondary" Elevation="0" Class="app-bar">
        <MudIconButton Icon="@(Icons.Material.Filled.Menu)" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer"/>
        <Logo/>
        <MudAppBarSpacer/>
        <AuthorizeView>
            <Authorized>
                <MudMenu>
                    <ActivatorContent>
                        <div class="d-flex align-center">
                            <MudText Typo="Typo.body1" Class="mr-2">@(context.User.Identity?.Name)</MudText>
                            <MudAvatar Image="https://aui.atlassian.com/aui/8.6/docs/images/avatar-person.svg"/>
                        </div>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem Icon="@(Icons.Material.Filled.AccountCircle)">Профиль</MudMenuItem>
                        <MudMenuItem Icon="@(Icons.Material.Filled.Settings)">Настройки</MudMenuItem>
                        <MudDivider/>
                        <MudMenuItem Icon="@(Icons.Material.Outlined.ExitToApp)" OnClick="() => AuthenticationService.Logout()">Выйти</MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudButton
                    Link="/login"
                    Variant="Variant.Filled"
                    DisableElevation="true"
                    Color="Color.Primary">
                    Войти
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <AuthorizeView>
        <MudDrawer
            ClipMode="DrawerClipMode.Docked"
            Open="@_isDrawerOpen"
            Variant="@DrawerVariant.Responsive"
            Elevation="1">
            <NavMenu/>
        </MudDrawer>
    </AuthorizeView>
    <MudMainContent>
        <div class="ma-2">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code{
    bool _isDrawerOpen = true;

    void ToggleDrawer()
    {
        _isDrawerOpen = !_isDrawerOpen;
    }

}
