﻿<MudNavMenu>
    <MudNavLink Match="NavLinkMatch.All" Href="/" Icon="@(Icons.Material.Filled.Dashboard)">Главная</MudNavLink>
    <MudNavGroup Title="Данные" Icon="@(Icons.Filled.Storage)" Expanded="false">
        <MudNavLink Href="/institutes" Icon="@Icons.Filled.AccountBalance">Users</MudNavLink>
    </MudNavGroup>
    <MudDivider/>
    <MudNavLink Href="/about" Icon="@(Icons.Material.Filled.Info)">О Gradeo</MudNavLink>
</MudNavMenu>
