﻿@page "/Login"
@using System.ComponentModel.DataAnnotations
@using Gradeo.Client.Authentication
@using Gradeo.Client.Shared.Utils
@using Gradeo.Shared.Authentication

@inject DeviceIdService DeviceIdService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div Class="mx-auto" style="max-width: 480px">
    <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudCard Outlined="true">
            <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Авторизация</MudText>
                    </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Войдите в аккаунт, чтобы получить доступ ко всем функциям системы</MudText>
                <MudTextField Label="Почта или имя пользователя"
                              @bind-Value="_model.Username" For="@(() => _model.Username)"/>
                <MudTextField Label="Пароль"
                              @bind-Value="_model.Password" For="@(() => _model.Password)" InputType="InputType.Password"/>
            </MudCardContent>
            <MudCardActions>
                <MudButton
                    ButtonType="ButtonType.Submit"
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    DisableElevation="true"
                    Class="ml-auto">
                    Войти
                </MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>

@code {
    RegisterAccountForm _model = new RegisterAccountForm();

    class RegisterAccountForm
    {

        public string Username { get; set; } = string.Empty;

        [Required]
        [StringLength(30, ErrorMessage = "Password must be at least 8 characters long.", MinimumLength = 8)]
        public string Password { get; set; } = string.Empty;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        await ExecuteLogin();
    }

    bool ShowAuthError { get; set; }
    async Task ExecuteLogin()
    {
        ShowAuthError = false;
        var result = await AuthenticationService.Login(new LoginDto
        {
            Username = _model.Username,
            Password = _model.Password,
            // DeviceId =  await DeviceIdService.GetDeviceId()
        });
        NavigationManager.NavigateTo("/");
    }
}
